/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
  }
  .contenedor, .container {
    width: 100%; /* Asegura que no exceda el ancho de la pantalla */
    max-width: 100vw; /* Asegura que no exceda el ancho de la ventana */
    display: flex;
    justify-content: space-between; /* Solo para .container */
  }
    
  .news-container, aside, article {
    width: 100%;
    max-width: 100vw; /* Previene desbordamiento debido a padding/margin */
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px; /* Ajusta según sea necesario, pero ten en cuenta el ancho total */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  

  .news-container ul {
    list-style: none;
    padding: 0;
  }
  
  .news-container li {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  
  .news-container h2 {
    margin: 0;
  }
  
  .news-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .news-container p {
    margin: 10px 0;
  }
  
  .news-container small {
    color: #777;
  }
